/* .landing_page_wrapper{
color: red;
background-image: url('image.jpg') ;
} */


article{
    text-align: left;
    width: 100%;
    padding: var(--spacer--sm);
    margin: var(--spacer--sm) 0;
}

.p_wrapper{
    padding-top: var(--spacer--sm);
}



.p_wrapper p{
    padding: var(--spacer--sm) 0;
    
} 

.button_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}



.button_wrapper button{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
    border: 2px solid var(--colors--light);
    outline: none;
}

.button_wrapper button:focus{
    border: 2px solid var(--colors--dark);
    background-color: var(--colors--light);

}


@media all and (min-width: 600px){
  .landing_title{
        font-size: var(--fontsize--tablet--lg);
    }
}
