/* .landing_page_wrapper{
color: red;
background-image: url('image.jpg') ;
} */

.img_wrapper{
    width: 100%;
    height: calc(100vh - 106px);
    padding: 0;
    margin: 0;
    color: var(--colors--dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img_wrapper::before{
    z-index: -1;
    opacity: 2;
    background-image: url(bg-lg.jpg);
    background-position: center;
    content: "";
    width: 100%;
    height: calc(100vh - 106px);
    padding: 0;
    margin: 0;
    position: absolute;


}

.landing_page_wrapper{
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    align-items: center;
}

.landing_title{
    font-size: var(--fontsize--tablet--lg);
    color: var(--colors--dark);
    z-index: 3;
}

article{
    text-align: left;
    width: 100%;
    padding: var(--spacer--sm);
    margin: var(--spacer--sm) 0;
}

.p_wrapper{
    padding-top: var(--spacer--sm);
}



.p_wrapper p{
    padding: var(--spacer--sm) 0;
    
} 

.button_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}



.button_wrapper button{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
    border: 2px solid var(--colors--light);
    outline: none;
}

.button_wrapper button:focus{
    border: 2px solid var(--colors--dark);
    background-color: var(--colors--light);

}

img{
    width: 100%;
    height: 100%;
}


