:root {
    --spacer--sm: .3rem;
    --spacer--med: 0.9rem;
    --spacer--lg: 1.8rem;

    --fontsize--sm: 14px;
    --fontsize--med: 18px;
    --fontsize--lg: 24px;

    --colors--text: #020202;
    --colors--background: #F3F1E6;
    --colors--accent: #72173A;
}

.ing_item {
    width: 100%;
    padding: var(--spacer--sm);
    margin: var(--spacer--sm)
}

.ing_amount {
    margin-right: var(--spacer--med);
    font-weight: bold;
}