
.ingredients_wrapper{
    width: inherit;
}
.ing_item {
    width: inherit;
    padding: var(--spacer--sm) var(--spacer--med);
}

.ing_amount {
    margin-right: var(--spacer--sm);
    font-weight: 600;
}