
.recipe_full {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.recipe_title {
    margin: var(--spacer--sm);
}

.recipe_info {
    margin-top: var(--spacer--lg);
    text-align: center;

}

.recipe_info a {
    color: var(--colors--text);
}

ul {
    list-style: none;
}

.slider_container{
    width: inherit;
}


input[type=range]{
    appearance: none;
    width: 75vw;
    height: var(--spacer--sm);
    border: 0;
    border-radius: 8px;
    outline: none;
    opacity: 0.8;
    transition: opacity 0.2s;
    background: var(--colors--accent-bright); 
}

.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 25px;
    height: 17px;
    border-radius: 8px;
    background: var(--colors--accent-extreme);
    cursor: pointer;
}

.link-to-original:hover{
    cursor: pointer;
    color: var(--colors--accent-bright);
}

.delete_button{
    background-color: var(--colors--muted);
    color: var(--colors--light)
}