:root {
    --spacer--sm: .3rem;
    --spacer--med: 0.9rem;
    --spacer--lg: 1.8rem;

    --fontsize--sm: 14px;
    --fontsize--med: 18px;
    --fontsize--lg: 24px;

    --colors--text: #020202;
    --colors--background: #F3F1E6;
    --colors--accent: #72173A;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 45px;
    text-align: center;
    padding: var(--spacer--lg);
    font-size: var(--fontsize--lg);
}

header h1 {
    color: var(--colors--text)
}

header button{
    padding: var(--spacer--sm);
    margin-left: var(--spacer--med)
}