

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    height: 100%;
    text-align: center;
    padding: var(--spacer--med) var(--spacer--sm);
    font-size: var(--fontsize--lg);
    background-color: var(--colors--dark);
    overflow-x: hidden;
}

h1{
    color: var(--colors--accent-light);
}

header button{
    padding: var(--spacer--sm) var(--spacer--med);
    background-color: var(--colors--muted);
    border: 2px solid var(--colors--dark);
    color: var(--colors--light);
    border-radius: 8px;
    margin: var(--spacer--sm);
    cursor: pointer;
    font-size: var(--fontsize--sm);
    font-family: var(--font--open-sans);
    outline: 0;
    
}

header a{
    outline: 0;
    padding: var(--spacer--sm);
    border-radius: 8px;
    border: 2px solid var(--colors--dark);

}

header .title_link:focus{
    border: 2px solid var(--colors--light);
}

header button:focus,
header button:hover{
    border: 2px solid var(--colors--light);
    background-color: var(--colors--dark);
}
@media all and (min-width: 400px){
    header{
        justify-content: space-between;
        padding: var(--spacer--med);
    }
}

@media all and (min-width: 600px){
    header{
        padding: var(--spacer--med) var(--spacer--lg);
        
    }

    header button{
        font-size: var(--fontsize--med);
    }
}

