

form {
    width: 90%;
    margin-top: var(--spacer--lg);
    display: flex;
    flex-direction: column;
}

input {
    width: 100%;
    margin: 0 0 var(--spacer--sm);
    height: 35px;
    outline: 0;
    font-size: var(--fontsize--sm);
    border: 1px solid var(--colors--dark);
    background-color: var(--colors--light);
    padding-left: var(--spacer--sm);
}

textarea {
    width: 100%;
    padding-left: var(--spacer--sm);
    margin-bottom: var(--spacer--sm);
    background-color: var(--colors--light); 
    height: 150px;
    outline: 0;
    font-size: var(--fontsize--sm);
    border: 1px solid var(--colors--dark);
}

input:focus,
input:active{
    border: 2px solid var(--colors--accent-bright);
}

textarea:focus,
textarea:active{
    border: 2px solid var(--colors--accent-bright);
}

.form_button {
    width: 100px;
    height: 35px;
    outline: 0;
    border: 2px solid var(--colors--accent-bright);
}

.form_button:focus,
.form_button:active,
.form_button:hover{
    border: 2px solid var(--colors--dark);
    background-color: var(--colors--light);
}

.error_text{
    color: var(--colors--accent-extreme);
    font-size: var(--fontsize--sm);
}

.err{
    border: 2px solid var(--colors--accent-extreme);
}


