

form {
    width: 90vw;
    margin-top: var(--spacer--lg);
    display: flex;
    flex-direction: column;
}

input {
    margin: 0 0 var(--spacer--sm);
    height: 35px;
    outline: 0;
}

textarea {
    margin-bottom: var(--spacer--sm);
    height: 150px;
    outline: 0;
}

input:focus{
    outline: 2px solid var(--colors--accent-bright);
}

textarea:focus{
    outline: 2px solid var(--colors--accent-bright);
}

.form_button {
    width: 100px;
    height: 35px;
}