.knife_wrapper{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
}

.knife{
    font-size: 200px;
    color: var(--colors--accent-bright);
    animation: spin 1s ease infinite;
}

.loading_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    overflow: hidden;
}


@keyframes spin{
    0% {transform: rotate(40deg);}
    50% {transform: rotate(-65deg);}
    100%{transform: rotate(40deg);}
}
