.add_section button{
    outline: none;
    align-self: center;
}

.add_section button:focus,
.add_section button:hover{
    border: 2px solid var(--colors--dark); 
    background-color: var(--colors--light); 
}

form div{
    padding-top: var(--spacer--med);
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

form div h3{
    padding: var(--spacer--sm) 0;
}

table{
    width: 100%;
    font-size: var(--fontsize--sm);

}

tr{
    height: 40px;
    width: inherit;
    
}


