.add_section button{
    outline: none;
    align-self: center;
}

.add_section button:focus,
.add_section button:hover{
    border: 2px solid var(--colors--dark); 
    background-color: var(--colors--light); 
}

.preview_category{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.preview_wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: inherit;
}


.col-left{
    width: inherit;
}

.col-right{
 
    width: inherit;
}

.col-wrapper-left{
    flex: 1;
    width: 100px;
}

.col-wrapper-right{
    flex: 2;
    width: 100%;
}


.preview_item{
    display: flex;
    width: inherit; 
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

@media all and (min-width: 600px){
    td{
        padding-left: var(--spacer--med);
    }
}

