.add_section button{
    outline: none;
    align-self: center;
}

.add_section button:focus,
.add_section button:hover{
    border: 2px solid var(--colors--dark); 
    background-color: var(--colors--light); 
}

.preview_category{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}




.preview_item{
    width: inherit;
    padding: 0;
    margin-top: var(--spacer-sm);
 background-color: var(--colors-accent-light);
 border-radius: var(--button-border-radius);
}

@media all and (min-width: 600px){
    td{
        padding-left: var(--spacer--med);
    }
}

