

form{
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*sets label and input next to each other*/
fieldset{
    width: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacer-sm) 0;
    outline: 0;
    border: 0;
}
/*limits width of label*/
label{
    padding-right: var(--spacer-sm);
    width: var(--button-width);
}

fieldset .hidden{
    display: none;
}

input, textarea{
    width: 100%;
    padding: var(--spacer-tiny) ;
    font-size: var(--font-size-sm);
    outline: 0;
    border: var(--border-width) solid grey;
}

textarea{
    height: 200px;
}

input[type=text]:focus, textarea:focus{
    outline: var(--border-width) solid var(--colors-accent);
}

input:focus,
input:active{
    border: 2px solid var(--colors-accent-bright);
}

textarea:focus,
textarea:active{
    border: 2px solid var(--colors-accent-bright);
}

.form_button {
    outline: 0;
    border: 2px solid var(--colors--accent-bright);
}

.form_button:focus,
.form_button:active,
.form_button:hover{
    border: 2px solid var(--colors--dark);
    background-color: var(--colors--light);
}

.error_text{
    color: var(--colors--accent-extreme);
    font-size: var(--fontsize--sm);
}

.err{
    border: 2px solid var(--colors--accent-extreme);
}


.form-login-button-wrapper{
    width: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-login-button-wrapper a{
    text-align: right;
}

.add-recipe-form{
    margin-top: var(--spacer-lg);
    margin-bottom: var(--spacer-lg);
}

.add-recipe-form fieldset{
    flex-direction: column;
    align-items: flex-start;
}

.add-recipe-form button{
    margin-top: var(--spacer-sm);
}


@media all and (min-width: 500px){
    .add-recipe-form fieldset{
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }
}