article{
    text-align: left;
    max-width: 800px;
    height: 100%;
    width: inherit;
    margin-top: var(--spacer-lg);
    margin-bottom: var(--spacer-lg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
   
}


.img_wrapper{
    width: 100vw;
    height: calc(100vh - 106px);
    padding: 0;
    margin: 0;
    color: var(--colors--dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.img_wrapper h2{
    margin-bottom: var(--spacer-tiny);
}


.img_wrapper::before{
    z-index: -1;
    opacity: 0.2;
    background-image: url(bg-lg.jpg);
    background-position: center;
    content: "";
    width: 100vw;
    height: calc(100vh - 106px);
    padding: 0;
    margin: 0;
    position: absolute;
    overflow: hidden;


}



.landing_title{
    color: var(--colors--dark);
    z-index: 3;
}





.button_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.example{
    height: 100%;
    border: 1px solid var(--colors--black);
    border-radius: 4px;
    width: 100%;
    overflow-wrap: break-word;
    margin-bottom: var(--spacer-tiny);
    margin-top: var(--spacer-tiny);
   
    
}


.dodont_wrapper{
    margin-top: var(--spacer-med);
}
.screenshot{
    width: calc(375px * 0.7);
    height: calc(667px * 0.7);
    padding: var(--spacer--med);
}

.screenshot_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 100%;
    margin-top: var(--spacer-sm);

}

.article-login-button-wrapper{
    margin-top:var(--spacer-med);
}
.good{
    border: 2px solid var(--colors--accent-bright);
}

.do{
    color: var(--colors--accent-bright);
    font-weight: bold;
}

.dont{
    font-weight: bold;
}

article h3{
    width: 100%;
    padding: var(--spacer--sm) 0;
    margin-bottom: var(--spacer-med);
}

article >*{
    margin: var(--spacer--sm) 0;
}


img{
    width: 100%;
    height: 100%;
}

a{
    outline: 0;
}

@media all and (min-width: 600px) {
    .example{
        padding: var(--spacer--med);
    }
    .screenshot_wrapper{
        flex-direction: row;
        justify-content: space-between;
    }

   
}