
.ingredients_wrapper{
    width: inherit;
}
.ing_item {
    width: inherit;
    padding: 0 0 var(--spacer-sm);
}
.ing_item:first-of-type{
    padding-top: var(--spacer-sm);
}
.ing_amount {
    font-weight: 600;
}

li{

    display: grid;
    grid-template-columns: 70px 70px auto;
}

li>*{
    display: flex;
    justify-content: center;
    align-items: center;
}
