
.ingredients_wrapper{
    width: inherit;
}
.ing_item {
    width: inherit;
    margin: 0 0 var(--spacer-sm);
    padding: var(--spacer-tiny);
    background-color: var(--colors-accent-light);
    border-radius: var(--button-border-radius);
}
.ing_item:first-of-type{
    margin-top: var(--spacer-med);
}
.ing_amount {
    font-weight: 600;
}

li{

    display: grid;
    grid-template-columns: 70px 70px auto;
}

li>*{
    display: flex;
    justify-content: center;
    align-items: center;
}
