

section {
    margin: var(--spacer--med);
    height: inherit;
    width: calc(100vw - 1.9rem);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-x: hidden;

}

h2{
    padding-bottom: var(--spacer--sm);
    font-size: var(--fontsize--med);
    color: var(--colors--black)
}
a:focus .recipe_thumb{
    border: 2px solid var(--colors--dark);
}

section button {
    padding: var(--spacer--sm) var(--spacer--med);
    margin: var(--spacer--med);
    font-size: var(--fontsize--med);
    background-color: var(--colors--accent-bright);
    border: 0;
    color: var(--colors--dark);
    border-radius: 8px;
    cursor: pointer;
}
a .add_recipe{
    padding: 0;
    margin: 0;
    outline: none;
}

.recipe_list a {
    outline: none;  
}

.add_recipe{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 0;
    text-align: right;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
}



.add_recipe:focus, 
.add_recipe:active,
.add_recipe:hover{
    background-color: var(--colors--light);
    border: 2px solid var(--colors--dark);

}

label{
    padding-bottom: var(--spacer--sm);
}

.plus{
    font-size: 36px;
    padding: 2px 0 0 2px;
    margin: 0;
    color: var(--colors--dark);

}
.recipe_thumb {
    border-radius: 8px;
    display: flex;
    padding: var(--spacer--sm);
    margin: var(--spacer--med);  
    color: var(--colors--black);
    border: 2px solid var(--colors--light);
}

.recipe_thumb h3 {
    font-size: var(--fontsize--med);
    font-weight: 400;
}

.recipe_list div {
    display: flex;
    flex-direction: column;

}

ul{
    padding-top: var(--spacer--med);
}



@media all and (min-width: 400px){
    .recipe_thumb h3 {
        font-size: var(--fontsize--lg);
    }

    .add_recipe{
        width: 50px;
        height: 50px;
        margin-top: var(--spacer--med);
    }

    .plus{
        font-size: 44px;
        padding: 3px 0 0 3px;
    }
    
    
}

@media all and (min-width: 600px){

    section{
        max-width: 550px;
        margin-top: var(--spacer--lg);
    }
    .recipe_thumb h3{
        font-size: var(--fontsize--tablet--lg);
    }

    .add_recipe{
        padding-top: var(--spacer--lg)
    }
}

@media all and (min-width: 800px){
    section{
        padding: var(--spacer--med) var(--spacer--lg);
        max-width: 800px;
    }
}