:root {
    --spacer--sm: .3rem;
    --spacer--med: 0.9rem;
    --spacer--lg: 1.8rem;

    --fontsize--sm: 14px;
    --fontsize--med: 18px;
    --fontsize--lg: 24px;

    --colors--text: #020202;
    --colors--background: #F3F1E6;
    --colors--accent: #72173A;
}

section {
    padding: var(--spacer--lg) var(--spacer--med);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

section button {
    padding: var(--spacer--sm) var(--spacer--med);
    margin: var(--spacer--med);
}

.recipe_thumb {

    display: flex;
    padding: var(--spacer--med);
    color: var(--colors--text)
}

.recipe_thumb h3 {
    font-size: var(--fontsize--med);
    font-weight: 300;
}

.recipe_list div {
    display: flex;
    flex-direction: column;

}