
main {
    flex: 4;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-x: hidden;
}

main p, main span{
    font-family: var(--font--open-sans);
    font-size: var(--fontsize--sm);
    color: var(--colors--dark);
  }



@media all and (min-width: 400px){
  main p, main span{
      font-size: var(--fontsize--med);
  }
}