
main {
    flex: 4;
    height: 100%;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

main p, main span{
    font-family: var(--font--open-sans);
    font-size: var(--fontsize--sm);
    color: var(--colors--dark);
  }