
main {
    
  min-height: calc(100vh - 106px);
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

main p, main span{
    font-family: var(--font--open-sans);
    font-size: var(--fontsize--sm);
    color: var(--colors--dark);
  }



@media all and (min-width: 400px){
  main p, main span{
      font-size: var(--fontsize--med);
  }
}