@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@300;400;600&display=swap');


:root {
  --spacer--sm: .3rem;
  --spacer--med: 0.9rem;
  --spacer--lg: 1.8rem;

  --fontsize--sm: 16px;
  --fontsize--med: 20px;
  --fontsize--lg: 26px;
  --fontsize--tablet--lg: 36px;
  --font--open-sans: 'Open Sans', sans-serif;

  --colors--light: #F5F5F5;
  --colors--accent-light: #FBE9E7;
  --colors--accent-bright: #FF8A65;
  --colors--accent-extreme: #F4511E;
  --colors--muted: #424242;
  --colors--dark: #212121;
  --colors--black: #020202;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;

}

body {
  height: 100%;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--colors--light);
}




code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
